.task-button {
    position: relative;
    overflow: hidden;
  }
  
  .task-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(34, 255, 0, 0.282);
    transition: width 2s linear;
  }
  
  .task-button.pressed:before {
    width: 100%;
  }